aclocal.m4
autom4te.cache
build-aux
libtool
stamp-h1

config.h
config.h.in
config.h.in~
config.log
configure
config.status

doc/doc.doxy*

Makefile
Makefile.in

*.lo
*.la
*.Po
*.o
*.Plo
*.pyc

.libs/*

conf/config_prolo.xml

prologin/tkrun/tkrun{,.1}
prologin/web_meta/log_limit
prologin/web_meta/stechec.yml

stechec/client/stechec
stechec/scripts/{conf.rb,generator,run}
stechec/server/stechec_server

stechec/tools/test/{cx,pool}
stechec/tools/xml_test/parse_{bad,formation,team}
stechec/sdl/test/{scroll,simple,text}

prologin/prolo2010/rules/prolo2010
prologin/prolo2010/opa/_build
