aclocal.m4
autom4te.cache
build-aux
libtool
stamp-h1

config.h
config.h.in
config.h.in~
config.log
configure
config.status

doc/doc.doxy*
doc/doxygen_ref.tar.gz
doc/pdf

Makefile
Makefile.in

*.lo
*.la
*.Po
*.o
*.Plo
*.pyc
*.o.d
*.so

.libs

conf/config_prolo.xml

prologin/tkrun/tkrun
prologin/tkrun/tkrun.1
prologin/web_meta/log_limit
prologin/web_meta/stechec.yml
prologin/worker-node/worker-node
prologin/worker-node/worker-node.yml

stechec/client/stechec
stechec/scripts/conf.rb
stechec/scripts/generator
stechec/scripts/run
stechec/server/stechec_server

stechec/tools/test/cx
stechec/tools/test/pool
stechec/tools/xml_test/parse_bad
stechec/tools/xml_test/formation
stechec/tools/xml_test/team
stechec/sdl/test/scroll
stechec/sdl/test/simple
stechec/sdl/test/text

prologin/prolo2010/rules/prolo2010
prologin/prolo2010/opa/_build
