body, p, h1, td, input, select, a
{
	font-family: Arial, "MS Trebuchet", sans-serif;
	text-decoration: none;
	padding: 1px;
	margin: 0px;
}

h1 { font-size: 200%; padding: 4px; }
h2 { font-size: 140%; padding: 1px; }
h3 { font-size: 120%; padding: 1px; }

table
{
	border-collapse: collapse;
	border: 2px solid black;
	margin: 5px;
	padding: 0px;
}

td, tr
{
	border: 1px solid gray;
	margin: 0px;
	padding: 2px;
}

tr.label { background-color: lightgrey; text-align: center; }
td.label { background-color: lightgrey; }
tr.separator { border-top: 2px solid black; }

select, input
{
	border-style: hidden;
	font-size: 100%;
}

/* ############################################################# */

select.wide { width: 100%; }
td.button { text-align: center;}
a.plus { color: green; font-size: x-large; }
a.minus { color: red; font-size: x-large; }
a.positive { color: green; }
a.negative { color: red; }
a.neutral { color: blue; }
.element_visible { display: block; }
.element_hidden { display: none; }
input.healthy { }
input.injured { text-decoration: line-through; }

/* boxes */

#skill_box, #inj_box, #jm_box, #pic_box, #background_box
{
	position: absolute;
	z-index: 2;
	top: 100px;
	left: 200px;
	height: auto;
	padding: 5px;
	border-left: 2px solid #E80000;
	border-top: 2px solid #E80000;
	border-right: 3px solid #C80000;
	border-bottom: 3px solid #C80000;
	background-color: white;
}

#skill_box, #inj_box, #jm_box, #pic_box { width: 300px; }
#background_box { width: auto; }
