body {
	font-family: sans-serif;
	font-size: 80%;
}

table {
	border: 2px solid black;
	border-collapse: collapse;
}

td,tr {
	border: 1px solid gray;
}

.thicker-top {
	border-top: 2px solid black;
}

.thicker-bottom {
	border-bottom: 2px solid black;
}

.center {
	text-align: center;
}

input,select {
	border-style: none;
}

.small {
	font-size: x-small;
}

.large {
	font-size: x-large;
}

.bg1 { /* the lightest gray */
	background-color: #D3D3D3;
}

.bg2 { /* somewhat darker */
	background-color: #F0F0F0;
}

.bg3 { /* the darkest gray */
	background-color: gray;
}

.red {
	color: red;
	font-weight: bold;
	text-decoration: none;
}

.green {
	color: green;
	font-weight: bold;
	text-decoration: none;
}

.blue {
	color: blue;
	font-weight: bold;
	text-decoration: none;
}

.element_visible {
	display: block;
}

.element_hidden {
	display: none;
}

#inj_box {
     position: absolute;
     top: 100px;
     left: 100px;
     z-index: 2;
     width: auto;
     height: auto;
     background-color: #D3D3D3;
     border: 3px solid black;
     padding: 5px;
}

.healthy { }
.injured { text-decoration: line-through; }

#skill_box {
     position: absolute;
     top: 50px;
     left: 50px;
     z-index: 2;
     width: auto;
     height: auto;
     background-color: #D3D3D3;
     border: 3px solid black;
}

#pic_box {
	padding: 10px;
	position: absolute;
	top: 100px;
	left: 150px;
	z-index: 2;
	width: auto;
	height: auto;
	background-color: #D3D3D3;
	border: 3px solid black;
}

.repertory {
	width: 100%;
}
	
