Source: stechec
Section: devel
Priority: optional
Maintainer: Olivier Gournet <victor@le-poulpe.net>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: stechec
Architecture: any
Depends: ${shlibs:Depends}
Suggests: stechec-prolo2005, stechec-prolo2006, stechec-ant
Description: Game's controller based on turn by turn
 Stechec is the program used by the Prologin association to run
 player's source code. Given a specific subject (usually a map-based
 game, where you must move your units, collect resources and kill
 others players), a player must program his own AI, and compete with
 other. About 5 languages (C/C++/Pascal/Ocaml/Java) are
 available to the player.
 .
 This package stands for the base system. Game rules handling specific
 are to be found in another packages.

Package: stechec-prolo2005
Architecture: any
Depends: ${shlibs:Depends}
Description: Hatamis-Maun - Prologin 2005 rules
 Rules for the Prologin 2005 final contest.

Package: stechec-prolo2006
Architecture: any
Depends: ${shlibs:Depends}
Description: OutATime - Prologin 2006 rules
 Rules for the Prologin 2006 final contest.

Package: stechec-ant
Architecture: any
Depends: ${shlibs:Depends}
Description: Stechec - Ant game
 Basic rules mainly created to debug stechec.
