body, p, h1, h2, a {
	font-family: arial, helvetica, sans-serif;
	color: black;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	}

/* ################################################ */
/* title contains the first header and the subtitle */
/* ################################################ */

#title {
	width: 610px;
	margin-top: 10px;
	margin-left: 10px;
	padding: 5px;
	border: 2px solid navy;
	}

h1 {
	font-size: 200%;
	font-weight: bold;
	color: navy;
	}

p.subtitle {
	font-style: italic;
	margin-left: 40px;
	}
	
/* ################################################ */
/*	content holds some text, two level-2-headers	*/
/*	the racelist and the upload form				*/
/* ################################################ */ 

#content {
	padding: 5px;
	width: 600px;
	margin-top: 30px;
	margin-left: 20px;
	}

h2 {
	font-size: 130%;
	font-weight: bold;
	color: navy;
	margin-top: 30px;
	margin-bottom: 30px;
	}

table.list {
	margin-left: 10px;
	border-style: none;
	}

a.block {
	cursor: pointer;
	display: block;
	width: 150px;
	border: 1px dotted black;
	padding: 3px;
	background-color: #EFEFEF;
	}
	
a.block:link {}
     			
a.block:visited {
	color: #4D4D4D; 
	background-color: #FAFAFA;
	}
	
a.block:hover {
	color: white;
	background-color: red;
	}
	
a.block:active {
	background-color: navy;
	}
	
/* ################################################ */
/*	foot holds the valid xhtml and css buttons		*/
/*	and a link back to the tbt site					*/
/* ################################################ */ 

#foot {
	text-align: right;
	width: 610px;
	margin-top: 30px;
	margin-left: 10px;
	padding: 5px;
	border: 2px solid navy;
	}
	