.title_zone
{
	background-color : #ffffff;
	height : 100px;
	border-collapse: collapse;
}

.title_logo_right
{
	width : 178px;
	height : 90px;
	background-image : url(light/epita_logob_small.png);
}

.title_logo_left
{
	width : 210px;
	height : 90px;
	background-image : url(light/acu_logo_small.png);
}

.banner
{
	width : 468;
	height : 60;
	border-width : 1px;
	border-style : solid;
	border-color : #c0c0c0;
}

.menu1_bar
{
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #a0a0a0;
	background-color : #ffffff;
	font-size : 12px;
	height : 20px;
}

.menu1_space
{
	background-color : #ffffff;
}

.menu1_button_link
{
	color : #e0e0e0;
	font-size : 12px;
	text-align : center;		
	text-decoration : none;
}

.menu1_button
{
	background-color : #ffffff;
	color : #808080;
	font-size : 12px;
	width : 100px;
	text-align : center;		
}

.menu1_button_over
{
	background-color : #f0f0f0;
	color : #404040;
	font-size : 12px;
	width : 100px;
	text-align : center;		
}

.menu1_button_selected
{
	background-color : #e0e0e0;
	color : #000000;
	font-size : 12px;
	width : 100px;
	text-align : center;		
}

.menu2_bar
{
	border-width : 1px 0px;
	border-style : solid;
	border-color : #d0d0d0;

	background-color : #ffffff;
	font-size : 12px;
	height : 20px;
}

.menu2_space
{
	background-color : #ffffff;
}

.menu2_button_link
{
	color : #e0e0e0;
	font-size : 12px;
	text-align : center;		
	text-decoration : none;
}

.menu2_button
{
	background-color : #ffffff;
	color : #808080;
	font-size : 12px;
	width : 100px;
	text-align : center;		
}

.menu2_button_over
{
	background-color : #f0f0f0;
	color : #404040;
	font-size : 12px;
	width : 100px;
	text-align : center;		
}

.menu2_button_selected
{
	background-color : #e0e0e0;
	color : #000000;
	font-size : 12px;
	width : 100px;
	text-align : center;		
}


.left_margin
{
	width : 150px;
	background-color : #f8f8f8;

	border-right-width : 2px;
	border-right-style : solid;
	border-right-color : #d0d0d0;

	padding : 30px 10px 10px 10px;
}

.text_cadre
{
	background-color : #ffffff;
	margin-top : 30px;

	border-collapse: separate;
	border-spacing: 2px;

	border-width : 1px 3px 3px 1px;
	border-color : #656565 #404040 #404040 #656565;
	border-style : solid;
}

.text_cadre_title
{
	font-size : 12px;
	background-color : #202020;
	color : #ffffff;
	width : 150px;
	text-align : center;
}

.text_cadre_info
{
	font-size : 12px;
	background-color : #ffffff;
	color : #000000;
	text-align : left;
}

.content
{
	background-color : #ffffff;
	padding-left : 40px;
	padding-top : 20px;
	padding-bottom : 20px;
	height : 500px;
}

.footer
{
	width : 22px;
	background-color : #ffffff;
	color : #808080;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #d0d0d0;

	text-align : right;		
	font-size : 12px;
	margin-top : 40px;
}

.table_list
{
	border-width : 1px;
	border-color : #d0d0d0 #808080 #808080 #d0d0d0;
	border-style : solid;

	width : 95%;
	background-color : #f0f0f0;
	border-collapse: separate;
	border-spacing: 1px;

	margin-bottom : 20px;
}

.table_list_title
{
	background-color : #404040;
	padding : 0px 5px;
	color : #ffffff;
	font-weight : bold;
	text-align : left;
	font-size : 12px;
	padding : 2px 5px;
}

.table_list_red
{
	background-color : #f0f0f0;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_red2
{
	background-color : #f0f0f0;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_red3
{
	background-color : #f0f0f0;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_gray
{
	background-color : #ffffff;
	padding : 2px 5px;
	font-size : 12px;
}

.table_list_bluegray
{
	background-color : #f0f0f0;
	padding : 2px 5px;
	font-size : 12px;
}

.table_list_center
{
	text-align : center;
	font-size : 12px;
}

.table_list_center_red
{
	background-color : #f0f0f0;
	text-align : center;
	font-size : 12px;
}

.table_list_center_yellow
{
	background-color : #f0f0f0;
	text-align : center;
	font-size : 12px;
}

.table_list_center_green
{
	background-color : #a0a0a0;
	text-align : center;
	font-size : 12px;
}

.table_info
{
	border-width : 1px;
	border-color : #d0d0d0 #808080 #808080 #d0d0d0;
	border-style : solid;

	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom : 25px;
	width : 95%;

	background-color : #f0f0f0;
}

.table_info_title
{
	background-color : #f0f0f0;
	color : #404040;
	padding-left : 10px;
	padding-right : 10px;
	text-align : right;
	font-size : 12px;
	width : 100px;
}

.table_info_line0
{
	background-color : #ffffff;
	text-align : left;
	font-size : 12px;
	width : 300px;
	padding-left : 5px;
}

.table_info_image
{
	border-width : 1px;
	border-style : solid;
	border-color : #404040;
	background-color : #ffffff;
	padding : 0px;
}

.table_info_photo
{
	border-width : 1px;
	border-style : solid;
	border-color : #404040;
	background-color : #ffffff;
	padding : 0px;
	font-size : 12px;
	width : 110px;
	height : 130px;
}

.table_links_cell
{
	font-size : 12px;
	font-style : italic;
	color : #a0a0a0;
	padding : 0px 2px;
}

.table_links
{
	margin-bottom : 15px;
}

.text_title_table
{
	margin-bottom : 15px;
	border-collapse: separate;
	border-spacing: 0px;
}

.text_title
{
	background-color : #f0f0f0;
	border-width : 1px;
	border-color : #d0d0d0 #808080 #808080 #d0d0d0;
	border-style : solid;

	padding-right : 15px;
	padding-left : 15px;

	font-size : 18px;
	font-style : italic;
	color : #404040;
}

.text
{
	font-size : 14px;
	color : #000000;
	margin-bottom : 15px;
	width : 90%;
}

.percent_bar
{
	border-width : 1px;
	border-style : solid;
	border-color : #000000;
	border-collapse : separate;
	border-spacing : 0px;
	height : 14px;
	width : 80%;
}

.percent_bar_fg
{
	background-color : #e0e0e0;
}

.table_news
{
	border-width : 1px;
	border-color : #d0d0d0 #808080 #808080 #d0d0d0;
	border-style : solid;

	width : 95%;
	background-color : #f0f0f0;
	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom : 20px;
}

.table_news_head
{
	border-bottom-width : 1px;
	border-bottom-color : #808080;
	border-bottom-style : solid;

	background-color : #e0e0e0;
	padding : 0px 5px;
	height : 26px;
}

.table_news_back
{
	background-color : #ffffff;
	font-size : 12px;
	height : 70px;
}

.table_news_foot
{
	border-top-width : 1px;
	border-top-color : #d0d0d0;
	border-top-style : solid;

	background-color : #f0f0f0;
	padding : 0px 5px;
	color : #404040;
	text-align : right;
	font-size : 12px;
	font-weight : bold;
	height : 21px;
}

.news_logo
{
	border-style : none;
	padding-left : 5px;

	width : 17px;
	height : 22px;
	background-image : url(/icons/hand.up.png);
 	color: inherit;
}

.news_title
{
	padding-left : 10px;
	color : #404040;
	text-align : left;
	font-size : 16px;
	font-weight : bold;
}

.links
{
	font-size : 12px;
	font-style : italic;
	color : #606060;
}

.login_table
{
	border-width : 1px;
	border-style : solid;
	border-color : #000000;
	width : 400px;
	height : 80px;
	border-collapse: separate;
	border-spacing: 0px;
}

.login_cell0
{
	background-color : #e0e0e0;
	color : #000000;
	font-size : 14px;
	padding : 10px 25px;
}

