.title_zone
{
	background-color : #f0f000;
	height : 100px;
	border-collapse: collapse;
}

.title_logo_right
{
	width : 178px;
	height : 90px;
	background-image : url(light/epita_logob_small.png);
}

.title_logo_left
{
	width : 210px;
	height : 90px;
	background-image : url(light/acu_logo_small.png);
}

.banner
{
	width : 468;
	height : 60;
	border-width : 1px;
	border-style : solid;
	border-color : #f95629;
}

.menu1_bar
{
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #d04820;
	background-color : #0000d0;
	font-size : 12px;
	height : 20px;
}

.menu1_button_link
{
	background-color : #0000d0;
	font-size : 12px;
	text-align : center;		
	text-decoration : none;
}

.menu1_button
{
	background-color : #0000d0;
	color : #f0f000;
	font-size : 12px;
	width : 100px;
	height: 20px;
	text-align : center;
	display: block;
}

.menu1_button_over
{
	background-color : #ff6c2e;
	color : #531c0c;
	font-size : 12px;
	width : 100px;
	height: 20px;
	text-align : center;		
	display: block;
}

.menu1_button_selected
{
	background-color : #ff642b;
	color : #000000;
	font-size : 12px;
	width : 100px;
	height: 20px;
	text-align : center;		
	display: block;
}

.menu2_bar
{
	border-width : 1px 0px;
	border-style : solid;
	border-color : #ff5d29;

	background-color : #ff7231;
	font-size : 12px;
	height : 20px;
}

.menu2_space
{
	background-color : #ff7231;
}

.menu2_button_link
{
	color : #ff6433;
	font-size : 12px;
	text-align : center;		
	text-decoration : none;
}

.menu2_button
{
	background-color : #ff7231;
	color : #a63919;
	font-size : 12px;
	width : 100px;
	height: 20px;
	text-align : center;		
	display: block;
}

.menu2_button_over
{
	background-color : #0000d0;
	color : #f0f000;
	font-size : 12px;
	width : 100px;
	height: 20px;
	text-align : center;		
	display: block;
}

.menu2_button_selected
{
	background-color : #0000d0;
	color : #f0f000;
	font-size : 12px;
	width : 100px;
	height: 20px;
	text-align : center;		
	display: block;
}

.left_margin
{
	width : 150px;
	background-color : #f00080;

	border-right-width : 2px;
	border-right-style : solid;
	border-right-color : #ff5d29;

	padding : 30px 10px 10px 10px;
}

.text_cadre
{
	background-color : #ff7233;
	margin-top : 30px;

	border-collapse: separate;
	border-spacing: 2px;

	border-width : 1px 3px 3px 1px;
	border-color : #832d29 #531c19 #531c19 #832d29;
	border-style : solid;
}

.text_cadre_title
{
	font-size : 12px;
	background-color : #29322c;
	color : #ff7233;
	width : 150px;
	text-align : center;
}

.text_cadre_info
{
	font-size : 12px;
	background-color : #ff7233;
	color : #000019;
	text-align : left;
}

.content
{
	background-color : #00f000;
	padding-left : 40px;
	padding-top : 20px;
	padding-bottom : 20px;
	height : 500px;
}

.footer
{
	width : 22px;
	background-color : #ff7231;
	color : #a63919;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #ff5d29;

	text-align : right;		
	font-size : 12px;
	margin-top : 40px;
}

.table_list
{
	border-width : 1px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;

	width : 95%;
	background-color : #ff6c2c;
	border-collapse: separate;
	border-spacing: 1px;

	margin-bottom : 20px;
}

.table_list_title
{
	background-color : #531c0c;
	padding : 0px 5px;
	color : #ff7230;
	font-weight : bold;
	text-align : left;
	font-size : 12px;
	padding : 2px 5px;
}

.table_list_red
{
	background-color : #ff5626;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_red2
{
	background-color : #ff4820;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_red3
{
	background-color : #ff3919;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_green
{
	background-color : #d06c20;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_gray
{
	background-color : #ff7231;
	padding : 2px 5px;
	font-size : 12px;
}

.table_list_bluegray
{
	background-color : #ff6c2e;
	padding : 2px 5px;
	font-size : 12px;
}

.table_list_center
{
	text-align : center;
	font-size : 12px;
}

.table_list_pbar
{
	background : none;
	font-size : 12px;
	width : 300px;
}

.table_list_center_red
{
	background-color : #ff3919;
	text-align : center;
	font-size : 12px;
}

.table_list_center_yellow
{
	background-color : #ff6c20;
	text-align : center;
	font-size : 12px;
}

.table_list_center_green
{
	background-color : #d06c20;
	text-align : center;
	font-size : 12px;
}

.table_info
{
	border-width : 0px 1px 1px 1px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;

	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom : 25px;
	width : 95%;

	background-color : #ff6c2c;
}

.table_info_title
{
	border-right-width : 1px;
	border-right-style : solid;
	border-right-color : #ff5d29;
	background-color : #ff6f30;
	color : #531c0c;
	padding-left : 10px;
	padding-right : 10px;
	text-align : right;
	font-size : 12px;
	width : 100px;
}

.table_info_htitle
{
	border-width : 1px 0px;
	border-style : solid;
	border-color : #ff5d29;
	background-color : #008000;
	color : #531c0c;
	padding : 2px 10px;
	text-align : center;
	font-weight : bold;
	font-size : 12px;
}

.table_info_valid
{
	border-width : 1px 0px;
	border-style : solid;
	border-color : #ff5d29;
	background-color : #008000;
	color : #531c0c;
	padding : 2px 10px;
	text-align : right;
	font-weight : bold;
	font-size : 12px;
}

.table_info_line0
{
	background-color : #f00080;
	text-align : left;
	font-size : 12px;
	width : 300px;
	padding-left : 5px;
}

.table_info_text
{
	padding : 3px 5px;
	vertical-align : middle;
}

.table_info_image
{
	border-width : 1px;
	border-style : solid;
	border-color : #531c0c;
	background-color : #ff7233;
	padding : 0px;
}

.table_info_photo
{
	border-width : 1px;
	border-style : solid;
	border-color : #531c0c;
	background-color : #ff7233;
	padding : 0px;
	font-size : 12px;
	width : 110px;
	height : 130px;
}

.table_links_cell
{
	font-size : 12px;
	font-style : italic;
	color : #d04820;
	padding-right : 15px;
}

.table_links
{
	margin-bottom : 15px;
}

.text_title_table
{
	margin-bottom : 15px;
	border-collapse: separate;
	border-spacing: 0px;
}

.text_title
{
	background-color : #ff6c2e;
	border-width : 1px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;

	padding-right : 15px;
	padding-left : 15px;

	font-size : 18px;
	font-style : italic;
	color : #531c0c;
}

.text
{
	font-size : 14px;
	color : #000000;
	margin-bottom : 15px;
	width : 90%;
}

.percent_bar
{
	border-width : 1px;
	border-style : solid;
	border-color : #000000;
	border-collapse : separate;
	border-spacing : 0px;
	height : 14px;
}

.percent_bar_fg
{
	background-color : #ff6429;
}

.percent_bar_bg
{
	background-color : #ff7233;
}

.table_news
{
	border-width : 1px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;

	width : 95%;
	background-color : #ff6c2c;
	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom : 20px;
}

.table_news_head
{
	border-bottom-width : 1px;
	border-bottom-color : #a63919;
	border-bottom-style : solid;

	background-color : #ff6429;
	padding : 0px 5px;
	height : 26px;
}

.table_news_back
{
	background-color : #f00080;
	font-size : 12px;
	height : 70px;
}

.table_news_foot
{
	border-top-width : 1px;
	border-top-color : #ff5d29;
	border-top-style : solid;

	background-color : #ff6c30;
	padding : 0px 5px;
	color : #531c0c;
	text-align : right;
	font-size : 12px;
	font-weight : bold;
	height : 21px;
}

.news_logo
{
	border-style : none;
	padding-left : 5px;

	width : 17px;
	height : 22px;
	background-image : url(/icons/hand.up.png);
 	color: inherit;
}

.news_title
{
	padding-left : 10px;
	color : #531c0c;
	text-align : left;
	font-size : 16px;
	font-weight : bold;
}

.links
{
	font-size : 12px;
	font-style : italic;
	color : #7c1c08;
}

.login_table
{
	border-width : 1px;
	border-style : solid;
	border-color : #000019;
	width : 400px;
	height : 80px;
	border-collapse: separate;
	border-spacing: 0px;
}

.login_cell0
{
	background-color : #ff6430;
	color : #00000c;
	font-size : 14px;
	padding : 10px 25px;
}

.table_docs_links
{
	border-width : 1px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;

	width : 500px;
	background-color : #ff6c2c;
	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom : 20px;
}


.table_docs_links_docname
{
	background-color : #ff6c30;
	width : 300px;
	padding : 0px 5px;
	font-size : 12px;
}

.table_docs_links_path
{
	background-color : #ff7233;
	font-size : 12px;
	text-align : center;
}

.table_docs_links_icons
{
	background-color : #ff7233;
	font-size : 12px;
	width : 30px;
	text-align : center;	
}

.right_cadre
{
	border-collapse: separate;
	border-spacing: 5px;
	background-color : #ff6f30;
	border-width : 1px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;
	width : 100%;
}

.right_cadre_prop
{
	font-size : 10px;
	color : #531c0c;
}

.right_cadre_title
{
	font-weight : bold;
	text-align : center;
	font-size : 10px;
}

.table_plan
{
	border-style : solid;
	border-width : 1px;
	border-color : #531c0c;
	background-color : #00f000;
	border-collapse: separate;
	border-spacing: 0px;
}

.table_plan_title
{
	font-size : 12px;
	color : #ff6c2e;
	background-color : #531c0c;
	text-align : center;
}

.table_plan_title2
{
	font-size : 12px;
	font-style : italic;
	color : #531c0c;
	background-color : #ff6c2e;
	text-align : center;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-bottom-color : #531c0c;
}

.table_plan_today
{
	width : 100px;
	height : 100px;
	border-width : 2px 1px 1px 2px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;
	background-color : #ff5d29;
	font-size : 10px;
	text-align : left;
	vertical-align : top;
}

.table_plan_cell
{
	width : 100px;
	height : 100px;
	border-width : 2px 1px 1px 2px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;
	background-color : #ff6f30;
	font-size : 10px;
	text-align : left;
	vertical-align : top;
}

.table_plan_num
{
	border-width : 1px;
	border-color : #a63919;
	border-style : solid;
	background-color : #ff7233;
	color : #000000;
	font-size : 12px;
	font-weight : bold;
	width : 16px;
	height : 16px;
	text-align : center;
	vertical-align : middle;
}

.table_plan_cell2
{
	width : 100px;
	height : 100px;
	border-style : none;
	background-color : #008000;
}

.event_oblig
{
	color : #ff0000;
	font-weight : bold;
}

.event_nooblig
{
	color : #005d00;
	font-weight : bold;
}

.event_project
{
	color : #ff3900;
	font-weight : bold;
}

.table_margin
{
	background-color : #ff6f30;
	border-width : 1px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;
	width : 90%;
	border-collapse: separate;
	border-spacing: 1px;
	font-size : 10px;
}

.ids_block
{
	background-color : #ff6f30;
	border-width : 1px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;
	width : 27%;
	border-collapse: separate;
	border-spacing: 1px;
	font-size : 10px;
	min-height : 85%;
}

.ids_main_block
{
	background-color : #ff6f30;
	border-width : 1px;
	border-color : #ff5d29 #a63919 #a63919 #ff5d29;
	border-style : solid;
	width : 27%;
	border-collapse: separate;
	border-spacing: 1px;
	font-size : 12px;
	min-height : 85%;
	margin-left : 7px;
}
