<STYLE>
<!--    
P {
font-family:verdana;
font-style:normal;
font-weight:normal;
color:black;
font-size:12px;
} 
.texte {
font-style:verdana;
font-size:12px;
}
.titre {
font-family:verdana;
font-style:normal;
font-weight:bold;
color:#FFFFC0;
font-size:18px;
}      
.titre_menu {
font-family:verdana;
font-style:normal;
font-weight:bold;
color:white;
font-size:13px;
}    
.erreur {
font-family:verdana;
font-style:normal;
font-weight:bold;
color:red;
font-size:12px;
}      
.navigation {
font-family:verdana;
font-style:normal;
font-weight:bold;
color:#FFFFFF;
font-size:10px;
}
A.liens_navigation {
font-family:verdana;
font-style:normal;
font-weight:bold;
color:#DCDAEA;
font-size:10px;
}
A.liens_navigation:hover {
color:#FFFFC6; text-decoration:none;
}
A.rien {
font-family:verdana;
font-style:normal;
font-size:12px;
}
BODY {
font-family:verdana;
font-style:normal;
font-weight:normal;
color:black;
font-size:12px;
}

A:hover {color:#D6D6D6; text-decoration:none;}
A.menuwhite {color:#D6D6D6; text-decoration:none;}
A.liens {color:#FFFFC6; text-decoration:none;}
A {text-decoration:none;}
A.blanc {color:#FFFFFF; text-decoration:none;}
A.blanc2 {color:#FFFFFF; text-decoration:underline;}
SELECT {BORDER-BOTTOM: #FFFFFF 1px solid; BORDER-LEFT: #FFFFFF 1px solid; BORDER-RIGHT: #FFFFFF 1px solid; BORDER-TOP: #FFFFFF 1px solid; FONT-FAMILY: Verdana; FONT-SIZE: 10px; FONT-STYLE: normal}
//-->
</STYLE>

