.title_zone
{
	background-color : #fabecc;
	height : 100px;
	border-collapse: collapse;
}

.title_logo_right
{
	width : 178px;
	height : 90px;
	background-image : url(candy/epita_logob_small.png);
}

.title_logo_left
{
	width : 210px;
	height : 90px;
	background-image : url(candy/acu_logo_small.png);
}

.banner
{
	width : 468;
	height : 60;
	border-width : 1px;
	border-style : solid;
	border-color : #c0c0f9;
}

.menu1_bar
{
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #dd3f64;
	background-color: #f78da6;
	font-size : 12px;
}

.menu1_button_link
{
	color : #dd3f64;
	font-size : 12px;
	text-align : center;
	text-decoration : none;
	width: 100px;
}

.menu1_button
{
	background-color : #f78da6;
	color : #271fca;
	font-size : 12px;
	text-align : center;
	width : 100px;
	height: 20px;
	display:block;
}

.menu1_button:hover
{
	background-color : #ef6586;
	color : #0a0488;
	font-size : 12px;
	width : 100px;
	height: 20px;
	display: block;
	text-align : center;
}

.menu1_button_selected
{
	background-color : #dd3f64;
	color : #000000;
	font-size : 12px;
	width : 100px;
	height: 20px;
	display: block;
	text-align : center;
}

.menu2_bar
{
	border-width : 1px 0px;
	border-style : solid;
	border-color : #dd3f64;
	height: 20px;
	background-color: #f78da6;
	font-size : 12px;
}

.menu2_space
{
	background-color : #f8f8ff;
	display: block;
}

.menu2_button_link
{
	color : #dd3f64;
	font-size : 12px;
	text-align : center;
	text-decoration : none;
}

.menu2_button
{
	background-color : #f78da6;
	color : #271fca;
	font-size : 12px;
	width : 100px;
	height: 20px;
	display: block;
	text-align : center;
}

.menu2_button:hover
{
	background-color : #ef6586;
	color : #0a0488;
	font-size : 12px;
	width : 100px;
	height: 20px;
	display: block;
	text-align : center;
}

.menu2_button_selected
{
	background-color : #dd3f64;
	color : #000000;
	font-size : 12px;
	width : 100px;
	height: 20px;
	display:block;
	text-align : center;
}


.left_margin
{
	width : 150px;
	background-color : #f8f8f8;
	background-image : url(candy/blue_hline_back.png);

	border-right-width : 1px;
	border-right-style : solid;
	border-right-color : #dd3f64;

	padding : 30px 10px 10px 10px;
}

.content
{
	background-color : #fabecc;
	padding-left : 40px;
	padding-top : 20px;
	padding-bottom : 20px;
	height : 500px;
}

.table_list
{
	width : 95%;
	background-color : #fabecc;
	border-collapse: separate;
	border-spacing: 2px;

	margin-bottom : 20px;
}

.table_list_title
{
	background-color : #40404c;
	padding : 0px 5px;
	color : #fabecc;
	font-weight : bold;
	text-align : left;
	font-size : 12px;
	padding : 2px 5px;
}

.table_list_red
{
	background-color : #f0c0e6;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_red2
{
	background-color : #f0a0c0;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_red3
{
	background-color : #f08099;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_green
{
	background-color : #a0f0c0;
	padding : 2px 5px;
	text-align : left;
	font-size : 12px;
}

.table_list_gray
{
	background-color : #ef6586;
	padding : 2px 5px;
	font-size : 12px;
}

.table_list_bluegray
{
	background-color : #f0fff0;
	padding : 2px 5px;
	font-size : 12px;
}

.table_list_center
{
	text-align : center;
	font-size : 12px;
}

.table_list_pbar
{
	background : none;
	font-size : 12px;
	width : 300px;
}

.table_list_center_red
{
	background-color : #f08099;
	text-align : center;
	font-size : 12px;
}

.table_list_center_yellow
{
	background-color : #f0f0c0;
	text-align : center;
	font-size : 12px;
}

.table_list_center_green
{
	background-color : #a0f0c0;
	text-align : center;
	font-size : 12px;
}

.table_info
{
	border-width : 0px 2px 2px 1px;
	border-color : #dd3f64;
	border-style : solid;

	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom : 25px;
	width : 95%;

	background-color : #ef6586;
}

.table_info_title
{
	border-right-width : 1px;
	border-right-style : solid;
	border-right-color : #dd3f64;
	background-color : #f78da6;
	color : #40404c;
	padding-left : 10px;
	padding-right : 10px;
	text-align : right;
	font-size : 12px;
	width : 100px;
}

.table_info_htitle
{
	border-width : 1px 0px;
	border-style : solid;
	border-color : #dd3f64;
	background-color : #ef6586;
	color : #40404c;
	padding : 2px 10px;
	text-align : center;
	font-weight : bold;
	font-size : 12px;
}

.table_info_valid
{
	border-width : 1px 0px;
	border-style : solid;
	border-color : #dd3f64;
	background-color : #ef6586;
	color : #40404c;
	padding : 2px 10px;
	text-align : right;
	font-weight : bold;
	font-size : 12px;
}

.table_info_line0
{
	background-color : #fabecc;
	text-align : left;
	font-size : 12px;
	width : 400px;
	padding-left : 5px;
}

.table_info_text
{
	padding : 3px 5px;
	vertical-align : middle;
}

.table_info_image
{
	border-width : 1px;
	border-style : solid;
	border-color : #40404c;
	background-color : #fabecc;
	padding : 0px;
}

.table_info_photo
{
	border-width : 1px;
	border-style : solid;
	border-color : #40404c;
	background-color : #fabecc;
	padding : 0px;
	font-size : 12px;
	width : 110px;
	height : 130px;
}

.table_links_cell
{
	font-size : 12px;
	font-style : italic;
	color : #a0a0c0;
	padding-right : 15px;
}

.table_links
{
	margin-bottom : 15px;
}

.text_title_table
{
	margin-bottom : 15px;
	border-collapse: separate;
	border-spacing: 0px;
}

.text_title
{
	border-width : 0px 1px 1px 0px;
	border-color : #808099;
	border-style : solid;
	background-color : #f78da6;

	padding-right : 10px;
	padding-left : 10px;

	font-size : 16px;
	color : #40404c;
}

.text
{
	font-size : 14px;
	color : #404060;
	margin-bottom : 15px;
	width : 90%;
}

.percent_bar
{
	border-width : 1px;
	border-style : solid;
	border-color : #000000;
	border-collapse : separate;
	border-spacing : 0px;
	height : 14px;
}

.percent_bar_fg
{
	background-color : #8080a0;
}

.percent_bar_bg
{
	background-color : #fabecc;
}

.table_news
{
	border-width : 1px;
	border-color : #bf2222;
	border-style : solid;

	width : 95%;
	background-color : #ef6586;
	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom : 20px;
}

.table_news_head
{
	border-bottom-width : 1px;
	border-bottom-color : #808099;
	border-bottom-style : solid;

	background-color : #dd3f64;
	padding : 0px 5px;
	height : 26px;
}

.table_news_back
{
	background-color : #fabecc;
	font-size : 12px;
	height : 70px;
}

.table_news_foot
{
	border-top-width : 1px;
	border-top-color : #dd3f64;
	border-top-style : solid;

	background-color : #ef6586;
	padding : 0px 5px;
	color : #40404c;
	text-align : right;
	font-size : 12px;
	font-weight : bold;
	height : 21px;
}

.news_logo
{
	border-style : none;
	padding-left : 5px;

	width : 17px;
	height : 22px;
	background-image : url(/icons/hand.up.png);
 	color: inherit;
}

.news_title
{
	padding-left : 10px;
	color : #40404c;
	text-align : left;
	font-size : 16px;
	font-weight : bold;
}

.links
{
	font-size : 12px;
	font-style : italic;
	color : #404060;
}

.login_table
{
	background-image : url(login.jpg);
	border-width : 1px;
	border-style : solid;
	border-color : #000080;
	width : 846px;
	height : 406px;
	border-collapse: separate;
	border-spacing: 0px;
}

.login_cell0
{
	color : #ff0000;
	font-size : 18px;
}

.table_docs_links
{
	border-width : 1px;
	border-color : #dd3f64;
	border-style : solid;

	width : 500px;
	background-color : #ef6586;
	border-collapse: separate;
	border-spacing: 0px;
	margin-bottom : 20px;
}


.table_docs_links_docname
{
	background-color : #ef6586;
	width : 300px;
	padding : 0px 5px;
	font-size : 12px;
}

.table_docs_links_path
{
	background-color : #fabecc;
	font-size : 12px;
	text-align : center;
}

.table_docs_links_icons
{
	background-color : #fabecc;
	font-size : 12px;
	width : 30px;
	text-align : center;
}

.right_cadre
{
	border-collapse: separate;
	border-spacing: 5px;
	background-color : #f78da6;
	border-width : 1px;
	border-color : #dd3f64;
	border-style : solid;
	width : 100%;
}

.right_cadre_prop
{
	font-size : 10px;
	color : #40404c;
}

.right_cadre_title
{
	font-weight : bold;
	text-align : center;
	font-size : 10px;
}

.table_plan
{
	border-style : solid;
	border-width : 1px;
	border-color : #40404c;
	background-color : #808099;
	border-collapse: separate;
	border-spacing: 0px;
}

.table_plan_title
{
	font-size : 12px;
	color : #ef6586;
	background-color : #40404c;
	text-align : center;
}

.table_plan_title2
{
	font-size : 12px;
	font-style : italic;
	color : #40404c;
	background-color : #ef6586;
	text-align : center;
	border-bottom-style : solid;
	border-bottom-width : 1px;
	border-bottom-color : #40404c;
}

.table_plan_today
{
	width : 100px;
	height : 100px;
	border-width : 2px 1px 1px 2px;
	border-color : #dd3f64;
	border-style : solid;
	background-color : #ffd0f9;
	font-size : 10px;
	text-align : left;
	vertical-align : top;
}

.table_plan_cell
{
	width : 100px;
	height : 100px;
	border-width : 2px 1px 1px 2px;
	border-color : #dd3f64;
	border-style : solid;
	background-color : #f8f8ff;
	font-size : 10px;
	text-align : left;
	vertical-align : top;
}

.table_plan_num
{
	border-width : 1px;
	border-color : #808099;
	border-style : solid;
	background-color : #fabecc
	color : #000000;
	font-size : 12px;
	font-weight : bold;
	width : 16px;
	height : 16px;
	text-align : center;
	vertical-align : middle;
}

.table_plan_cell2
{
	width : 100px;
	height : 100px;
	border-style : none;
	background-color : #d0d0f9;
}

.event_oblig
{
	color : #d00000;
	font-weight : bold;
}

.event_nooblig
{
	color : #00d000;
	font-weight : bold;
}

.event_project
{
	color : #d08000;
	font-weight : bold;
}

.table_margin
{
	background-color : #f78da6;
	border-width : 1px;
	border-color : #dd3f64;
	border-style : solid;
	width : 90%;
	border-collapse: separate;
	border-spacing: 1px;
	font-size : 10px;
}

.ids_block
{
	background-color : #f8f8ff;
	border-width : 1px;
	border-color : #dd3f64;
	border-style : solid;
	width : 27%;
	border-collapse: separate;
	border-spacing: 1px;
	font-size : 10px;
	min-height : 85%;
}

.ids_main_block
{
	background-color : #f8f8ff;
	border-width : 1px;
	border-color : #dd3f64;
	border-style : solid;
	width : 27%;
	border-collapse: separate;
	border-spacing: 1px;
	font-size : 12pt;
	min-height : 85%;
	margin-left : 7px;
}
